/* Estilos del formulario de libros */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    font-family: "EB Garamond", serif;

}

.back-link-container {
    margin-bottom: 1.5rem;
}

.back-link-container a {
    color: #3498db;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: opacity 0.2s;
}

.back-link-container a:hover {
    opacity: 0.7;
}

.form-title {
    margin-bottom: 2rem;
}





/* Formulario */
input {
    padding: 0.3rem 1rem;
    border: 1px solid #95a5a6;
    font-size: 16px;
    margin-left: 0.6rem;
    border-radius: 4px;
    &::placeholder {
        color: #c5c5c5;
    }
}

label {
    font-weight: bold;
    font-size: 18px;
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.fila-1 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;

    .form-titulo input {
        width: 400px;
    }

    .form-autor input {
        width: 250px;
    }

    .form-editorial input {
        width: 250px;
    }
}

.fila-2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;

    .form-ISBN input {
        width: 250px;
    }

    .form-year input {
        width: 100px;
    }

    .form-paginas input {
        width: 100px;
    }

    .form-estado #estado {
        width: 180px;
        padding: 0.3rem 0.2rem;
        font-size: 16px;
        border: 1px solid #95a5a6;
        border-radius: 4px;
        margin-left: 0.6rem;

    }
}

.fila-3 {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    input {
        width: 400px;
        height: fit-content;
    }
}

.fila-4{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
    
    .dynamic-inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .dynamic-inputs input {
        width: 200px;
        margin: 1rem 0.5rem 0 0;
    }
}


.fila-6{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    textarea {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #95a5a6;
        border-radius: 4px;
        font-size: 16px;
        resize: vertical;
    }
}
/* Botones del formulario */

.btn-submit {
    background: #27ae60;
    color: white;
    padding: 0.875rem 2rem;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 20px;
}

.btn-submit:hover {
    background: #229954;
}

.btn-cancel {
    background: #95a5a6;
    color: white;
    font-size: 18px;
    padding: 0.875rem 2rem;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.2s;
}

.btn-cancel:hover {
    background: #7f8c8d;
}